<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- PiRotator configuration test file -->
<configuration>

	<!-- Connectivity setup -->
	<connectivity>

		<!-- Our internal GPS connector -->
		<connector>
			<type>org.prowl.distribbs.node.connectivity.gps.GPS</type>
			<udpBroadcastPort>4233</udpBroadcastPort>
		</connector>

	</connectivity>

	<!-- Rotator setup -->
	<rotator>

		<maxElevationDegrees>180</maxElevationDegrees>
		<maxAzimuthDegrees>450</maxAzimuthDegrees>
		<maxADCReading>900</maxADCReading>

		<parking>
			<inactivityTimeoutSeconds>600</inactivityTimeoutSeconds>
			<azimuth>310</azimuth>
			<elevation>0</elevation>
		</parking>

	</rotator>

	<!-- Macdoppler compatible listener -->
	<controllers>

		<controller>
			<class>org.prowl.pirotator.controllers.macdoppler.MacDoppler</class>
			<listenPort>9932</listenPort>
		</controller>

		<controller>
		<class>org.prowl.pirotator.controllers.rotctld.RotCtlD</class></controller>

	</controllers>

	<!-- Cooling for pi -->
	<thermalManagement>
		<maxTemperatureCelcius>75</maxTemperatureCelcius>
	</thermalManagement>

	<ui>
		<!-- Enable the ANSI terminal interface -->
		<interface>
			<type>org.prowl.pirotator.ui.ansi.ANSIServer</type>
		</interface>
	</ui>

</configuration>