<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- PiRotator configuration test file -->
<configuration>

	<!-- Rotator setup -->
	<rotator>

		<maxElevationDegrees>180</maxElevationDegrees>
		<maxAzimuthDegrees>450</maxAzimuthDegrees>
		<maxADCReading>900</maxADCReading>

		<parking>
			<inactivityTimeoutSeconds>600</inactivityTimeoutSeconds>
			<azimuth>310</azimuth>
			<elevation>0</elevation>
		</parking>

	</rotator>

	<!-- Macdoppler, rotctld(etc) compatible listener -->
	<controllers>

		<controller>
			<class>org.prowl.pirotator.controllers.macdoppler.MacDoppler</class>
			<listenPort>9932</listenPort>
		</controller>

		<controller>
			<class>org.prowl.pirotator.controllers.rotctld.RotCtlD</class>
		</controller>

	</controllers>

	<!-- Cooling for pi -->
	<thermalManagement>
		<maxTemperatureCelcius>75</maxTemperatureCelcius>
	</thermalManagement>

	<!-- GPS controller -->
	<gps>
		<port>/dev/ttyS0</port>
	    <udpBroadcastPort>9932</udpBroadcastPort>
	</gps>

	<ui>
		<!-- Enable the ANSI terminal interface -->
		<interface>
			<type>org.prowl.pirotator.ui.ansi.ANSIServer</type>
		</interface>
	</ui>

</configuration>